
.noto-serif-title {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  font-variation-settings:
    "wdth" 100;
}

.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 22px;
  font-style: normal;
}

/* Shared Styles */
.m-width{
    max-width: 1140px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.p-color{
    color: #E95A08;
}
.s-color{
    color: rgba(0, 0, 0, 0.5);
}
.txt-center{
    text-align: center;
}






/* Navbar */
.nav-img{
    width: 135px;
    height: 82px;
}
.nav-bar ul{
    list-style: none;
    gap: 30px;
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

/* Banner */
.banner{

}
.banner-content{
    margin-top: 158px;
}
.banner-title{
    margin: 0 0 17px 0;
}
.banner-text{
    margin: 0;
}
.banner-img img{
    width: 570px;
    height: 355px;
    margin-top: 102px;
}

/* Plants */
.plants{
    margin-top: 120px;
}
.card-cont{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 30px;
}
.plant-title{
    margin: 0 0 17px 0;
}
.plant-text{
    margin: 0 auto 48px auto;
    max-width: 888px;
}
.card-t{
    font-weight: 500;
    margin-bottom: 0px;
}
.price{
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 30px;
}
.card>button{
    font-size: 16px;
    font-weight: 600;
    background-color: #E95A08;
    border: none;
    padding: 19px 80px;
    color: #ffffff;
}